<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="css/main.min.css")
  body
    h1 Плеер вк
    script(src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript")
    script(src="/js/all.js")